*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
header{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(images.jpg);
    background-size:cover;
    font-family: sans-serif;
}
nav{
    width:100%;
    height:100px;
    color:white;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.menu a{
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-size: 20px;
}
.register a{
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}
.menu a:hover, .active{
    border-bottom: 2px solid #fff;
}
.h-txt{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.h-txt span{
    letter-spacing: 5px;
}
.h-txt{
    font-size: 3.5em;
}
.h-txt a{
    text-decoration: none;
    background:rgba(255, 255, 255, 0.4);
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
}
.h-txt a{
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 20px;
}
    